In [10]:
import matplotlib.pyplot as plot
import pandas as pd
import numpy as np
import requests
import json
import datetime

In [41]:
traffic_path = "traffic.csv"
traffic_df = pd.read_csv(traffic_path)
traffic_df = traffic_df[["TIME","SPEED","BUS_COUNT","NUM_READS","MONTH"]]
# traffic_df
# a = traffic_df.loc[0,"TIME"].split(" ")
traffic_df["DATE"] = [a.split(" ")[0] for a in traffic_df["TIME"]]
# traffic_df["DATE"] = [(a.split("/")[0]+"/"+a.split("/")[1]) for a in traffic_df["date"]]
traffic_df["DAY"] = [a.split("/")[1] for a in traffic_df["DATE"]]
traffic_df["YEAR"] = [a.split("/")[2] for a in traffic_df["DATE"]]
cleaned_traffic_df = traffic_df[["DATE","YEAR","MONTH","DAY","SPEED","BUS_COUNT","NUM_READS"]]
cleaned_traffic_df

              DATE  YEAR  MONTH DAY  SPEED  BUS_COUNT  NUM_READS
0       06/14/2018  2018      6  14  21.82         31        396
1       09/15/2018  2018      9  15  16.36         61        921
2       03/13/2018  2018      3  13  12.95        165       2607
3       03/13/2018  2018      3  13  12.27        158       2333
4       03/13/2018  2018      3  13  14.32        144       2049
...            ...   ...    ...  ..    ...        ...        ...
114043  07/18/2020  2020      7  18  18.41         61       1035
114044  07/18/2020  2020      7  18  19.09         65       1091
114045  07/18/2020  2020      7  18  19.77         64       1257
114046  07/18/2020  2020      7  18  18.48         57        987
114047  07/18/2020  2020      7  18  19.09         67       1164

[114048 rows x 7 columns]

In [43]:
cleaned_traffic_df.groupby(["YEAR","MONTH"]).count()

            DATE   DAY  SPEED  BUS_COUNT  NUM_READS
YEAR MONTH
2018 3      3034  3034   3034       3034       3034
     4      3850  3850   3850       3850       3850
     5      4148  4148   4148       4148       4148
     6      4132  4132   4132       4132       4132
     7      4310  4310   4310       4310       4310
     8      3856  3856   3856       3856       3856
     9      4141  4141   4141       4141       4141
     10     4271  4271   4271       4271       4271
     11     3938  3938   3938       3938       3938
     12     4233  4233   4233       4233       4233
2019 1      3883  3883   3883       3883       3883
     2      3819  3819   3819       3819       3819
     3      4140  4140   4140       4140       4140
     4      4080  4080   4080       4080       4080
     5      4222  4222   4222       4222       4222
     6      4045  4045   4045       4045       4045
     7      4222  4222   4222       4222       4222
     8      4248  4248   4248       4248       4248
     9      4121  4121   4121       4121       4121
     10     3820  3820   3820       3820       3820
     11     3893  3893   3893       3893       3893
     12     2997  2997   2997       2997       2997
2020 1      4251  4251   4251       4251       4251
     2      3951  3951   3951       3951       3951
     3      4264  4264   4264       4264       4264
     4      4099  4099   4099       4099       4099
     5      3581  3581   3581       3581       3581
     6      4116  4116   4116       4116       4116
     7      2383  2383   2383       2383       2383

In [33]:
                              
# traffic_df["D"] = [d.datetime.date() for d in traffic_df["TIME"]]
traffic_df.sort_values("TIME",ascending=True)

,TIME,SPEED,BUS_COUNT,NUM_READS,date,DATE,YEAR
42712,01/01/2019 01:01:38 PM,19.09,56,1055,01/01/2019,01/01,2019
42574,01/01/2019 01:10:27 AM,22.50,35,490,01/01/2019,01/01,2019
42714,01/01/2019 01:10:48 PM,17.97,57,1152,01/01/2019,01/01,2019
42576,01/01/2019 01:21:00 AM,21.14,26,505,01/01/2019,01/01,2019
42716,01/01/2019 01:21:06 PM,18.41,62,1034,01/01/2019,01/01,2019
...,...,...,...,...,...,...,...
93409,12/31/2019 12:31:35 PM,17.05,81,1470,12/31/2019,12/31,2019
93278,12/31/2019 12:40:17 AM,23.86,16,346,12/31/2019,12/31,2019
93411,12/31/2019 12:40:46 PM,17.73,83,1589,12/31/2019,12/31,2019
93280,12/31/2019 12:50:32 AM,22.50,18,309,12/31/2019,12/31,2019
93413,12/31/2019 12:51:09 PM,17.05,85,1466,12/31/2019,12/31,2019